@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-jetBrainMono: "jetBrainMono";
  --color-primary: "#1c1c22";
  --color-secondary: "#00ff99";
  --color-hover: "#00e187";
  --color-background: "#1c1c22";
}
